@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

.dark {
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

@layer components {
  ::-webkit-scrollbar {
    width: 5px;
    background: #009fe3;
  }
  ::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    background-color: #009fe3;
  }
  .buttonHeader {
    background: transparent;
    border: 1px solid black;
    padding: 0;
    cursor: pointer;
    cursor: pointer;
    text-align: left;
  }
  input[type='checkbox'] {
    border-radius: 4px;
    height: 20px;
    width: 20px;
    background: #0e0d0d;
    border: 1px dashed #ea546c;
  }
  input[type='checkbox']:checked {
    background: yellow;
    margin: 0px;
    position: relative;
    border-radius: 4px;
  }

  select {
    padding: 0.2em 4em 0.2em 0.7em;
    border-radius: 0.25rem;
    border: 1px solid #caced1;
    outline: none;
    cursor: pointer;
  }
  option {
    background-color: #eeeeee;
    color: #000000;
    padding: 10px;
  }
  .dropdown {
  }
  .dropdown:first-child {
    margin-top: 1rem;
  }
  .word:not(.active) {
    color: #d45e77;
  }
}
